---
layout: default
title: SatoshiOgasawara
author: ogasawara
---


<div id="home">
  <h1>備忘録</h1>
  <p>
    現在の時刻 - {{ site.time | date_to_rfc822 }}
  </p>
  <ul class="posts cf">
    {% for post in paginator.posts %}
    <a href="{{ post.url }}">
      <li class="cf">
        <p class="date"><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo;</p>
        <p class="post-image">
          <img src="{{ post.image }}" alt="" />
        </p>
        <p class="post-title">
          {{ post.title }}
        </p>
      </li>
    </a>
    {% endfor %}
  </ul>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">前のページ</a>
  {% else %}
    <span class="previous">前のページ</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">次のページ</a>
  {% else %}
    <span class="next ">次のページ</span>
  {% endif %}
</div>
