@import "shared/global"
@import "shared/common"
@import "shared/general"
@import "shared/highlight"
@import "default"


.default
  h1
    text-align: center
  ol, ul, li
    list-style: none
  ul
   border-top: 1px solid #ccc
  li
    border-bottom: solid 1px #ccc
    padding: 10px 0
  .post-title
    font-weight: bold

.post
  ol, ul
    padding-left: 20px


.hoge
  position: relative

span
  font-family: '游ゴシック',YuGothic,"meiryo","メイリオ",'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif

p
  font-family: '游ゴシック',YuGothic,"meiryo","メイリオ",'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif
  font-size: 20px

h1
  font-size: 30px

code
  font-family: "Times New Roman",'游ゴシック',YuGothic,"meiryo","メイリオ",'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif

.header
  background: #008080
  h1
    text-align: center
    a
      color: #fff

body
  width: 980px
  margin: 0 auto
  background-image: url('/img/cloth-b2.png')

.header
  margin: 15px 0

.footer p a
  font-weight: bold
  color: #800000
  text-decoration: underline

.footer .author
  font-weight: bold
  color: #47585c

.to-home a
  font-weight: bold
  color: #800000

.post-image img
  width: 100px
  height: 100px

.lineno
  font-family: "arial","times new roman"

.date
  font-weight: bold

.date, .post-image, .post-title
  float: left

.post-image
  padding: 0 15px

.image img
  margin-left: 15px

.author
  margin-bottom: 40px

.pagination
  font-size: 20px
  a
    text-decoration: underline

.previous, .next
  font-weight: bold
  color: #203744

.page_number
  color: #752100
