@import "shared/global"
@import "shared/common"
@import "shared/general"
@import "shared/highlight"
@import "default"


.default
  h1
    text-align: center
  ol, ul, li
    list-style: none
  ul
   border-top: 1px solid #ccc
  li
    border-bottom: solid 1px #ccc
    padding: 10px 0
  .post-title
    font-weight: bold

.post
  ol, ul
    padding-left: 20px


.hoge
  position: relative

span
  font-family: '游ゴシック',YuGothic,"meiryo","メイリオ",'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif

p
  font-family: '游ゴシック',YuGothic,"meiryo","メイリオ",'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif
  font-size: 20px

h1
  font-size: 30px

code
  font-family: "Times New Roman",'游ゴシック',YuGothic,"meiryo","メイリオ",'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif

.header
  background: #008080
  h1
    text-align: center
    a
      color: #fff

body
  width: 980px
  margin: 0 auto
  background-image: url('/img/cloth-b2.png')

.footer p a
  font-weight: bold
  color: #800000

.footer .author
  font-weight: bold
  color: #47585c

.to-home a
  font-weight: bold
  color: #800000

.post-image img
  width: 300px
  height: 300px

.lineno
  font-family: "times new roman"
